Your daily mission statement

<p><%= link_to 'Add a mission', new_mission_path %></p>

<div id="whiskerfish">
  <% @missions.each do |mission| %>
    <p id="<%= mission.id %>"><%= mission.title %></p>
    <p><%= mission.body %></p>
  <% end %>
</div>

Total Word Count: <%= @total_word_count.to_s %>
