<%= form_for @mission do |f| %>

Words Remaining: <span id="words-remaining">200</span>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit 'Save mission' %>
  <% end %>